services:
    haproxy:
        image: haproxy:latest
        container_name: wot-haproxy
        restart: on-failure
        ports:
            - "3306:3306"
        volumes:
            - type: bind
              source: ./db/haproxy/haproxy.cfg
              target: /usr/local/etc/haproxy/haproxy.cfg
              read_only: true
        depends_on:
            db-1:
                condition: service_healthy
            db-2:
                condition: service_healthy
            db-3:
                condition: service_healthy
        healthcheck:
            test: ["CMD", "bash", "-c", "echo '' > /dev/tcp/127.0.0.1/32087 || exit 1"]
            interval: 15s
            timeout: 5s
            retries: 3
            start_period: 15s
        networks:
            - wot-network

    db-1:
        image: bitnamilegacy/mariadb-galera:latest
        container_name: wot-db-1
        hostname: db-1
        restart: on-failure
        environment:
            MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
            MARIADB_GALERA_CLUSTER_BOOTSTRAP: "yes"
            MARIADB_GALERA_FORCE_SAFETOBOOTSTRAP: "yes"
            MARIADB_GALERA_MARIABACKUP_PASSWORD: ${MARIADB_GALERA_MARIABACKUP_PASSWORD}
            MARIADB_GALERA_CLUSTER_NAME: ${MARIADB_GALERA_CLUSTER_NAME}
            MARIADB_GALERA_CLUSTER_ADDRESS: ${MARIADB_GALERA_CLUSTER_ADDRESS}
            MARIADB_USER: ${MARIADB_USER}
            MARIADB_PASSWORD: ${MARIADB_PASSWORD}
            MARIADB_DATABASE: ${MARIADB_DATABASE}
        volumes:
            - type: volume
              source: mariadb_db_1_data
              target: /bitnami/mariadb
            - type: bind
              source: ./db/scripts/01-create.sql
              target: /docker-entrypoint-initdb.d/01-create.sql
              read_only: true
            - type: bind
              source: ./db/scripts/02-insert.sql
              target: /docker-entrypoint-initdb.d/02-insert.sql
              read_only: true
        healthcheck:
            test: ['CMD', '/opt/bitnami/scripts/mariadb-galera/healthcheck.sh']
            interval: 15s
            timeout: 5s
            retries: 6
            start_period: 15s
        networks:
            - wot-network

    db-2:
        image: bitnamilegacy/mariadb-galera:latest
        container_name: wot-db-2
        hostname: db-2
        restart: on-failure
        environment:
            MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
            MARIADB_GALERA_MARIABACKUP_PASSWORD: ${MARIADB_GALERA_MARIABACKUP_PASSWORD}
            MARIADB_GALERA_CLUSTER_NAME: ${MARIADB_GALERA_CLUSTER_NAME}
            MARIADB_GALERA_CLUSTER_ADDRESS: ${MARIADB_GALERA_CLUSTER_ADDRESS}
            MARIADB_USER: ${MARIADB_USER}
            MARIADB_PASSWORD: ${MARIADB_PASSWORD}
            MARIADB_DATABASE: ${MARIADB_DATABASE}
        volumes:
            - type: volume
              source: mariadb_db_2_data
              target: /bitnami/mariadb
        depends_on:
            db-1:
                condition: service_healthy
        healthcheck:
            test: ['CMD', '/opt/bitnami/scripts/mariadb-galera/healthcheck.sh']
            interval: 15s
            timeout: 5s
            retries: 6
            start_period: 15s
        networks:
            - wot-network

    db-3:
        image: bitnamilegacy/mariadb-galera:latest
        container_name: wot-db-3
        hostname: db-3
        restart: on-failure
        environment:
            MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
            MARIADB_GALERA_MARIABACKUP_PASSWORD: ${MARIADB_GALERA_MARIABACKUP_PASSWORD}
            MARIADB_GALERA_CLUSTER_NAME: ${MARIADB_GALERA_CLUSTER_NAME}
            MARIADB_GALERA_CLUSTER_ADDRESS: ${MARIADB_GALERA_CLUSTER_ADDRESS}
            MARIADB_USER: ${MARIADB_USER}
            MARIADB_PASSWORD: ${MARIADB_PASSWORD}
            MARIADB_DATABASE: ${MARIADB_DATABASE}
        volumes:
            - type: volume
              source: mariadb_db_3_data
              target: /bitnami/mariadb
        depends_on:
            db-2:
                condition: service_healthy
        healthcheck:
            test: ['CMD', '/opt/bitnami/scripts/mariadb-galera/healthcheck.sh']
            interval: 15s
            timeout: 5s
            retries: 6
            start_period: 15s
        networks:
            - wot-network
        
    old-db:
        image: bitnami/mariadb:latest
        container_name: wot-old-db
        restart: on-failure
        environment:
            MARIADB_ROOT_PASSWORD: ${MARIADB_OLD_ROOT_PASSWORD}
            MARIADB_USER: ${MARIADB_OLD_USER}
            MARIADB_PASSWORD: ${MARIADB_OLD_PASSWORD}
            MARIADB_DATABASE: ${MARIADB_OLD_DATABASE}
            MARIADB_PORT_NUMBER: 3307
        ports:
            - "3307:3307"
        volumes:
            - type: volume
              source: mariadb_db_old
              target: /bitnami/mariadb
            - type: bind
              source: ./db/old-scripts/01-create.sql
              target: /docker-entrypoint-initdb.d/01-create.sql
              read_only: true
            - type: bind
              source: ./db/old-scripts/02-populate.sql
              target: /docker-entrypoint-initdb.d/02-insert.sql
              read_only: true
        healthcheck:
            test: ['CMD', '/opt/bitnami/scripts/mariadb/healthcheck.sh']
            interval: 15s
            timeout: 5s
            retries: 6
            start_period: 15s
        networks:
            - wot-network

volumes:
    mariadb_db_1_data:
        driver: local
    mariadb_db_2_data:
        driver: local
    mariadb_db_3_data:
        driver: local
    mariadb_db_old:
        driver: local

networks:
    wot-network:
        name: wot-network
        driver: bridge
